@import url("/global.css");

body {
    background: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 40px;
}

#red-btn {
    position: absolute;
    width: 75px;
    height: 75px;
    cursor: pointer;
    user-select: none;
}
