body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
}

#container {
    text-align: center;
}

#score {
    font-size: 4rem;
    margin-bottom: 20px;
}

#refreshBtn {
    padding: 15px 30px;
    font-size: 1.5rem;
    cursor: pointer;
    background: white;
    border: none;
    border-radius: 8px;
}
